/* pc */
@media (min-width: 1024px){

}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px){
    main{
        width: 720px;
    }
    
    /* banner */
    .main-section{
        height: 420px;
    }
    .banner{
        width: 720px;
    }

    .cart-search{
        width: 400px;
    }

    .search form{
        width: 220px;
    }

    .container{
        width: 720px;
    }

    .div1{
        width: 13%;
        height: 90px;
    }

    .div2{
        font-size: 1.6rem;
    }

    .div3{
        width: 40%;
    }

    .div4{
        font-size: 2.2rem;
    }
}

/* mobile and small mobile */
@media (max-width: 767px){
    /* header */
    nav{
        justify-content: space-evenly;
    }

    main{
        z-index: 10;
    }

    .logout{
        align-self: center;
    }

    #menu{
        display: none;
        z-index: 13;
        border-top-left-radius: 0;
        border-top-right-radius: 0px;
        animation: madalFadeIn ease 0.3s;
    }

    .menu-mobile{
        display: block;

    }

    .menu>li{
        display: block;
    }

    .menu>li>a{
        display: block;
    }
}

/* mobile */
@media (min-width: 480px) and (max-width: 767px){
    /* header */
    main{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav{
        width: 100%;
    }

    .logout{
        z-index: 1;
    }

    .banner{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    menu{
        display: flex;
        justify-content: center;
    }

    #menu{
        position: absolute;
        top: 345px;
        width: 90%;
        background: #edeae1;
        border: 1px solid var(--grey-color);
    }

    /* banner */

    .cart-search{
        position: static;
        align-self: center;
        width: 93%;
        height: 53px;
        margin-top: 204px;
        border: 1px solid var(--grey-color);
        border-top: none;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        z-index: 11;
    }

    .slide-banner img{
        top: 300px;
    }
    /* article */
    .title-menu{
        font-size: 2.3rem;
        margin-top: 65px;
    }
    .container{
        width: 440px;
    }

    .menu-chocolate-item{
        flex-direction: column-reverse;
        align-items: center;
    }
    .menu-drink-item{
        flex-direction: column;
        align-items: center;
    }

    .text-menu-chocolate,
    .text-menu-drink{
        width: 100%;
    }

    .menu-chocolate-img,
    .menu-drink-img{
        width: 100%;
    }

    .text-menu-chocolate h5,
    .text-menu-drink h5{
        font-size: 1.6rem;
    }

    .text-menu-chocolate p,
    .text-menu-drink p{
        font-size: 1.0rem;
    }

    .div1{
        width: 15%;
        height: 70px;
    }

    .div2{
        width: 25%;
        font-size: 1.4rem;
    }


    .div3{
        width: 30%;
    }

    .div4{
        font-size: 2.0rem;
    }
    /* footer */
    footer>menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .menu-bottom{
        width: 500px;
        height: 50px;
        margin: auto;
    }
    
    .text-footer{
        width: 500px;
        margin-top: 0;
    }
}

/* small phone */
@media (max-width: 480px){
    /* header */
    main{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .main-section{
        height: 280px;
    }
    
    nav{
        width: 100%;
    }
    
    menu{
        display: flex;
        justify-content: center;
    }
    
    #menu{
        position: absolute;
        width: 90%;
        top: 365px;
        background: #edeae1;
        border: 1px solid var(--grey-color);
    }

    .logo{
        text-align: center;
    }
    
    .logout{
        width: 57%;
        text-align: center;
    }
    
    .menu-mobile{
        width: 90%;
        height: 40%;
        margin-top: 30px;
    }

    /* phần banner */
    
    .banner{
        width: 100%;
    }

    .cart-search{
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        width: 90%;
        height: 100px;
        z-index: 12;
        position: static;
        margin-top: 220px;
        border: 1px solid var(--grey-color);
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .cart{
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    #cart-info{
        bottom: 178px;
        height: 60px;
    }

    .search{
        margin: auto;
        width: 90%;
    }

    .search form{
        width: 100%;
        height: 40px;
    }

    .slide-banner img{
        top: 120px;
    }
    /* container */
    .title-menu{
        font-size: 1.8rem;
        margin-top: 40px;
    }
    .container{
        width: 90%;
    }

    .menu-chocolate-item{
        flex-direction: column-reverse;
        align-items: center;
    }
    .menu-drink-item{
        flex-direction: column;
        align-items: center;
    }

    .text-menu-chocolate,
    .text-menu-drink{
        width: 100%;
    }

    .menu-chocolate-img,
    .menu-drink-img{
        width: 100%;
    }

    .text-menu-chocolate h5,
    .text-menu-drink h5{
        font-size: 1.4rem;
    }

    .text-menu-chocolate p,
    .text-menu-drink p{
        font-size: 0.9rem;
    }

    .div1{
        width: 60px;
        height: 60px;
    }

    .div2{
        width: 25%;
        font-size: 1.2rem;
    }

    .div3{
        width: 23%;
    }

    .div4{
        font-size: 1.6rem;
    }

    /* footer */
    footer>menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .menu-bottom{
        margin: auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu-bottom a{
        padding: 0 10px;
        font-size: 0.8rem;
    }

    .text-footer{
        margin-top: 10px;
        font-size: 0.7rem;
    }
}

@media (max-width: 320px){
    .logout{
        margin-bottom: 20px;
    }
    
    .menu-mobile {
        margin-top: 0;
    }

    .div1{
        width: 50px;
        height: 50px;
    }

    .div2{
        width: 25%;
        font-size: 1.0rem;
    }

    .div3{
        width: 20%;
    }

    .div4{
        font-size: 1.4rem;
    }
}