*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --text-color: #777777;
    --white-color: #fff;
    --black-color: #000;
    --orange-color: #D15F31;
    --grey-color: #ccc;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

body{
    font-family: system-ui;
}


/* Phần đâu trang */
#header{
    width: 100%;
    height: 140px;
    background-image: url(../img/background_pattern.jpg);
}

main{
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo img{
    margin-top: 30px;
    width: 90%;
}

nav{
    height: 135px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.logout{
   align-self: flex-end;
   margin-top: 10px;
   color: var(--text-color);
}

.logout a{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.0rem;
}

.logout a:hover{
    text-decoration: underline;
    color: #bc482f;
}

.logout a:last-child{
    margin-right: 0;
}

.menu{
    width: auto;
}

.other{
    position: relative;
}


.menu>li{
    display: inline-block;
    list-style: none;
}

.menu>li>a{
    display: inline-block;
    padding: 10px;
    color: #bc482f;
    font-weight: 600;
    font-size: 0.9rem;
}

.blog{
    background-color: var(--white-color);
    color: #5a3320;
    border-bottom: 1px solid var(--orange-color);
}

.menu>li>a:hover{
    background-color: var(--white-color);
    color: #5a3320;
    border-bottom: 1px solid var(--orange-color);
}

.menu>li>a:hover{
    background-color: var(--white-color);
    color: #5a3320;
}

.other ul{
    display: none;
    position: absolute;
    width: 120px;
    height: auto;
    background-color: #edeae1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 10;
}

.other ul li{
    list-style: none;
    height: 40px;
}

.other>ul>li>a{
    display: block;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    color: var(--text-color);
    font-size: 0.9rem;
}

.other>ul>li>a:hover{
    color: #fff;
    background: #c9ad88;
}

.other:hover ul{
    display: block;
    animation: anima ease 0.4s;
    -webkit-animation: anima ease 0.4s;
}

@keyframes anima{
    from{
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
    }to{
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

.menu-mobile{
    margin: auto;
    width: 93%;
    height: 53px;
    border: 1px solid var(--grey-color);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: var(--white-color);
    display: none;
    z-index: 12;
}

.menu-mobile-child{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    font-size: 1.2rem;
    color: var(--orange-color);
}

#menu-item{
    cursor: pointer;
}

/* Phần banner */
.main-section{
    width: 100%;
    height: 720px;
}
.banner{
    width: 1000px;
    height: auto;
    margin: auto;
    position: relative;
}

.cart{
    margin-left: 10px;
}

.cart i:first-child{
    color: var(--orange-color);
    font-size: 1.1rem;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.cart span{
    margin: 0 8px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.cart-child{
    cursor: pointer;
}

.cart-child:hover i{
    color: var(--text-color);
}

.cart-child:hover span{
    color: var(--orange-color);
}

.cart-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 60px;
    background-image: url(../img/background_pattern.jpg);
    position: absolute;
    right: 0;
    top: 10px;
    /* z-index: 10; */
    border-radius: 5px;
}

#cart-info{
    width: 200px;
    height: auto;
    position: absolute;
    bottom: -43px;
    border: 1.5px solid var(--grey-color);
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f8f7f3;
    display: none;
    animation: madalFadeIn ease .4s;
    -webkit-animation: madalFadeIn ease .4s;
}

@keyframes madalFadeIn {
    from{
       opacity: 0;
       transform: translateY(-14px);
       -webkit-transform: translateY(-14px);
    }
    to{
       opacity: 1;
       transform: translateY(0);
       -webkit-transform: translateY(0);
    }
}

#cart-info p{
    padding: 10px;
}

.search{
    margin-right: 10px;
}

.search form{
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 30px;
    background-color: var(--white-color);
    border: none;
    border-radius: 5px;
}

.search input{
    width: 86%;
    height: 100%;
    border: none;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search input:focus{
    outline: none;
}

.search button{
    width: 12%;
    height: 95%;
    border: none;
    background-color: var(--orange-color);
    color: var(--white-color);
    border-radius: 5px;
    cursor: pointer;
}
/* container */
@keyframes opacity{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

.container{
    width: 1000px;
    height: 2500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

#aside{
    width: 25%;
    height: auto;
}

#aside section{
    position: relative;
}

#aside i{
    padding: 3px;
    border-radius: 50%;
    color: var(--white-color);
    background-color: var(--orange-color);
    display: none;
    cursor: pointer;
}

#aside h3{
    font-family: "Oswald",Arial,Helvetica,sans-serif;
    font-size: 1.0rem;
    color: #5a3320;
    margin: 10px 0;
    border-bottom: 3px dotted var(--grey-color);
    padding-bottom: 10px;
}

#aside>section{
    margin-top: 30px;
}

.meta li,
.categories li,
.archives li,
.recent-posts li{
    list-style: none;
    margin-left: 10px;
    line-height: 30px;
}

.meta a:hover,
.categories a:hover,
.archives a:hover,
.recent-posts a:hover{
    color: var(--orange-color);
}

#article{
    width: 68%;
    height: auto;
}

#article h4{
    font-family: "Oswald",Arial,Helvetica,sans-serif;
    font-size: 1.2rem;
    color: #5a3320;
    margin: 10px 0;
    padding-bottom: 10px;
}

.section1{
    width: 100%;
    border-bottom: 2px dotted #ccc;
    padding-bottom: 20px;
}

.blog-img img{
    width: 100%;
}

.blog-container{
    width: 90%;
    margin: auto;
}

.blog-title a{
    font-size: 1.5rem;
    color: #5a3320;
}

.blog-title a:hover{
    color: var(--orange-color);
}

.blog-link{
    margin: 10px 0;
    font-size: 0.9rem;
}

.blog-link a{
    color: #B69683;
    margin-right: 15px;
}

.blog-link a:hover{
    color: #5a3320;
}

.blog-text{
    font-size: 0.9rem;
    color: var(--text-color);
    text-align: justify;
    line-height: 20px;
}

.blog-container button{
    padding: 13px 15px;
    background-color: var(--orange-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.blog-container form{
    margin-top: 10px;
}

.blog-container button:hover{
    background-color: #5a3320;
}

.section6,
.section5,
.section4,
.section3,
.section2{
    margin-top: 40px;
    width: 100%;
    border-bottom: 2px dotted #ccc;
    padding-bottom: 20px;
}

.blog-text a:hover{
    color: var(--orange-color);
}

.section4 iframe{
    width: 100%;
}

/* footer */
footer{
    width: 100%;
    height: 120px;
    background-color: #281B1A;
    margin-top: 50px;
    text-align: center;
}

footer>menu{
    position: relative;
    top: 20px;
}

.menu-bottom{
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.menu-bottom li{
    display: inline-block;
    color: var(--white-color);
}

.menu-bottom li a{
    color: var(--white-color);
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
}

.menu-bottom li a:hover{
    color: var(--orange-color);
    text-decoration: underline;
}

.text-footer{
    color: var(--white-color);
    margin-top: 20px;
    font-size: 0.9rem;
}
