*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --text-color: #777777;
    --white-color: #fff;
    --black-color: #000;
    --orange-color: #D15F31;
    --grey-color: #ccc;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

body{
    font-family: system-ui;
    position: relative;
}


/* Phần đâu trang */
#header{
    width: 100%;
    height: 140px;
    background-image: url(../img/background_pattern.jpg);
}

main{
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo img{
    margin-top: 30px;
    width: 90%;
}

nav{
    height: 135px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.logout{
   align-self: flex-end;
   margin-top: 10px;
   color: var(--text-color);
}

.logout a{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.0rem;
}

.logout a:hover{
    text-decoration: underline;
    color: #bc482f;
}

.logout a:last-child{
    margin-right: 0;
}

.menu{
    width: auto;
}

.other{
    position: relative;
}


.menu>li{
    display: inline-block;
    list-style: none;
}

.menu>li>a{
    display: inline-block;
    padding: 10px;
    color: #bc482f;
    font-weight: 600;
    font-size: 0.9rem;
}

.menu>li>a:hover{
    background-color: var(--white-color);
    color: #5a3320;
}

.other ul{
    display: none;
    position: absolute;
    width: 120px;
    height: auto;
    background-color: #edeae1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 10;
}

.other ul li{
    list-style: none;
    height: 40px;
}

.other>ul>li>a{
    display: block;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    color: var(--text-color);
    font-size: 0.9rem;
}

.other>ul>li>a:hover{
    color: #fff;
    background: #c9ad88;
}

.other:hover ul{
    display: block;
    animation: anima ease 0.4s;
    -webkit-animation: anima ease 0.4s;
}

@keyframes anima{
    from{
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
    }to{
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

.menu-mobile{
    margin: auto;
    width: 93%;
    height: 53px;
    border: 1px solid var(--grey-color);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: var(--white-color);
    display: none;
    z-index: 12;
}

.menu-mobile-child{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    font-size: 1.2rem;
    color: var(--orange-color);
}

#menu-item{
    cursor: pointer;
}

/* Phần banner */
.main-section{
    width: 100%;
    height: 180px;
}
.banner{
    width: 1000px;
    height: auto;
    margin: auto;
    position: relative;
}

.cart{
    margin-left: 10px;
}

.cart i:first-child{
    color: var(--orange-color);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    font-size: 1.1rem;
}

.cart span{
    margin: 0 8px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.cart-child{
    cursor: pointer;
}

.cart-child:hover i{
    color: var(--text-color);
}

.cart-child:hover span{
    color: var(--orange-color);
}

.cart-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 60px;
    background-image: url(../img/background_pattern.jpg);
    position: absolute;
    right: 0;
    top: 10px;
    /* z-index: 10; */
    border-radius: 5px;
}

#cart-info{
    width: 200px;
    height: auto;
    position: absolute;
    bottom: -43px;
    border: 1.5px solid var(--grey-color);
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f8f7f3;
    display: none;
    animation: madalFadeIn ease .4s;
    -webkit-animation: madalFadeIn ease .4s;
}

@keyframes madalFadeIn {
    from{
       opacity: 0;
       transform: translateY(-14px);
       -webkit-transform: translateY(-14px);
    }
    to{
       opacity: 1;
       transform: translateY(0);
       -webkit-transform: translateY(0);
    }
}

#cart-info p{
    padding: 10px;
}

.search{
    margin-right: 10px;
}

.search form{
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 30px;
    background-color: var(--white-color);
    border: none;
    border-radius: 5px;
}

.search input{
    width: 86%;
    height: 100%;
    border: none;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search input:focus{
    outline: none;
}

.search button{
    width: 12%;
    height: 95%;
    border: none;
    background-color: var(--orange-color);
    color: var(--white-color);
    border-radius: 5px;
    cursor: pointer;
}
/* container */
@keyframes opacity{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

.container{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.container h4{
    color: #5a3320;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    font-size: 1.2rem;
}

.section1{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.form-input{
    width: 47%;
    height: auto;
    background-image: url(../img/background_pattern.jpg);
    border-radius: 5px;
}

.form-input form{
    padding: 20px 0;
}

.name,
.email,
.subject,
.message{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    color: var(--text-color);
    font-size: 1.0rem;
}

.form-input textarea{
    width: 100%;
    height: auto;
    padding-left: 10px;
    margin-top: 5px;
}

.form-input input{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin-top: 5px;
}

.form-input textarea:focus,
.form-input input:focus{
    outline: none;
    border: none;
    box-shadow: 0 0 3px var(--orange-color);
}

.btn-submit{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.btn-submit button{
    border: none;
    border-radius: 3px;
    padding: 13px 20px;
    background-color: var(--orange-color);
    color: var(--white-color);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    cursor: pointer;
}

.btn-submit button:hover{
    background-color: #5a3320;
}

.text-contact{
    width: 48%;
    height: auto;
}

.text-contact h5{
    color: var(--text-color);
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.text-contact p{
    color: var(--text-color);
}

.link-contact{
    display: flex;
    flex-direction: column;
    line-height: 25px;
    margin: 10px 0;
}

.link-contact a:hover{
    color: var(--orange-color);
}

.days{
    color: var(--text-color);
}

.section-map{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 30px;
}

.section-map h4{
    color: #5a3320;
    font-size: 1.1rem;
}

.box-map{
    width: 100%;
    height: 500px;
    background-image: url(../img/background_pattern.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.box-map-child{
    width: 97%;
    height: 95%;
    margin: auto;
}

.section-map iframe{
    width: 100%;
    height: 100%;
}

/* footer */
footer{
    width: 100%;
    height: 120px;
    background-color: #281B1A;
    margin-top: 50px;
    text-align: center;
}

footer>menu{
    position: relative;
    top: 20px;
}

.menu-bottom{
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.menu-bottom li{
    display: inline-block;
    color: var(--white-color);
}

.menu-bottom li a{
    color: var(--white-color);
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
}

.menu-bottom li a:hover{
    color: var(--orange-color);
    text-decoration: underline;
}

.text-footer{
    color: var(--white-color);
    margin-top: 20px;
    font-size: 0.9rem;
}
